pystan==3.4.0
# MG TODO this brings along a lot of unnecessary stuff in the context of just training a model
#, e.g. matplotlib. the package itself can survive without it, resulting in a smaller docker image.
prophet==1.1
pandas==1.4.3
sagemaker-inference==1.6.1
retrying==1.3.3
multi-model-server==1.1.8
mxnet==1.9.1